// Primary colors
$purpl: hsl(259, 100%, 65%);
$l-red: hsl(0, 100%, 67%);// error color

// Neutral colors
$white: hsl(0, 0%, 100%);  // box bg
$Off-white: hsl(0, 0%, 94%);  // border color
$Light-grey: hsl(0, 0%, 86%);// main-bg
$Smokey-grey: hsl(0, 1%, 44%); // grey text
$Off-black: hsl(0, 0%, 8%); // black text

// typography
$field-s: 32px;
$family: 'Poppins', sans-serif;